{
  "plugins": [
    "unicorn",
    "eslint-plugin-import-helpers",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "rules": {
    "no-undef": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "unicorn/prefer-spread": 0,
    "unicorn/filename-case": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-query-selector": 0,
    "unicorn/prefer-number-properties": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "module",
          [
            "/^app/",
            "/^lib/",
            "/^config/",
            "/^src/",
            "/^ui/"
          ],
          [
            "/^$/",
            "/^&/"
          ],
          [
            "/^@shared/",
            "/^@app/",
            "/^@back/",
            "/^@front/"
          ],
          [
            "parent",
            "sibling",
            "index"
          ]
        ],
        "alphabetize": {
          "order": "ignore",
          "ignoreCase": true
        }
      }
    ],
    "no-unused-vars": 0,
    "no-useless-constructor": 0,
    "no-empty-function": [
      "error",
      {
        "allow": [
          "constructors"
        ]
      }
    ],
    "react/prop-types": 0
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json"
  }
}